
nav {
    background-color: #043;
    width: 100%;
    height: 48px;
    z-index: 1;
    top: 0;
}
nav .show, nav .collapsing {
    background-color: #002218;
    padding: 1rem;
}
nav .btn-sm img {
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
}
.navbar-brand img {
    margin-right: 0.5rem;
}

.home {
    padding-top: 1rem;
    background: #111;
    min-height: calc(100vh - 48px);
}

.channel-card {
    display: inline-block;
    position: relative;
    background: black;
    margin: 1rem 1rem 0;
    border: 1px solid black;
    width: 402px;
    color: white;
}
.channel-card a {
    color: white;
}
.channel-card a:hover {
    text-decoration: none;
}
.channel-card > img {
    width: 400px;
    min-height: 225px;
}

.channel-shade, .player-shade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000c;
    color: white;
    overflow: hidden;
}
.channel-shade {
    background-color: #000c;
    padding: 100px 30px;
    font-size: 32px;
    letter-spacing: 35px;
}
.channel-card-title {
    position: relative;
    width: 100%;
}
.channel-card-title h1 {
    margin: 0 0 0 0.5rem;
    font-size: 200%;
}
.channel-status {
    position: absolute;
    right: 0.2rem;
    bottom: 0;
}
.channel-live {
    font-weight: bold;
    color: red;
}
.channel-live img {
    margin-left: 0.3rem;
    width: 1rem;
    height: 1rem;
    vertical-align: -10%;
}
.channel-notlive {
    color: #777;
    font-style: italic;
    font-size: 90%;
}

.player-box {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
}
.player-thumb {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.player-shade {
    font-size: 10vh;
    letter-spacing: 10vh;
    text-align: center;
    padding-top: 40vh;
}

.col {
    background: white;
}

.hidden-control {
  position: absolute !important;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}
.show-control, .hidden-control:hover {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.controls {
  background: #000d;
  width: 100vw;
  height: 2.3rem;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.controls button {
  height: 1.8rem;
  min-width: 1.6rem;
  border: 0;
  background: transparent;
  color: white;
}
.controls button:hover {
  border-radius: 0.3rem;
  background: #fff2;
}

.controls .dropdown-menu {
  min-width: 12rem;
}
.controls .dropdown button {
  font-size: 0.75rem;
}
.controls .dropdown img {
  margin-left: -2px;
  width: 20px;
  height: 20px;
}

.big-button {
  padding-top: 0.15rem;
}
.big-button svg {
  font-size: 1.5rem;
}
.live-button svg {
  font-size: 1rem;
}
.controls-latency {
  font-size: 0.85rem;
  color: #888;
}
.controls-viewers {
  margin: 0 0.5rem;
  color: #b00;
}
.mute-and-vol .volume {
  opacity: 0;
  transition: 0.25s;
}
.mute-and-vol:hover .volume, .mute-and-vol *:focus ~ .volume {
  opacity: 1;
}
.volume {
    margin-left: 0.5rem;
    width: 100px;
    /* padding-top: 0.5rem; */
}
