.navbar-brand img {
    margin-right: 0.5rem;
}

nav {
    background-color: #043;
    height: 56px;
    z-index: 1;
}

nav .show, nav .collapsing {
    background-color: #002218;
    padding: 1rem;
}

.home {
    padding-top: 1rem;
    background: #111;
    min-height: calc(100vh - 56px);
}

.channel-card {
    display: inline-block;
    position: relative;
    background: black;
    margin: 1rem 1rem 0;
    border: 1px solid black;
    width: 402px;
    color: white;
}

.channel-card a {
    color: white;
}

.channel-card a:hover {
    text-decoration: none;
}

.channel-card > img {
    width: 400px;
    min-height: 225px;
}

.channel-shade, .player-shade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000c;
    color: white;
    overflow: hidden;
}

.channel-shade {
    background-color: #000c;
    padding: 100px 30px;
    font-size: 32px;
    letter-spacing: 35px;
}

.channel-card-title {
    position: relative;
    width: 100%;
}

.channel-card-title h1 {
    margin: 0 0 0 0.5rem;
    font-size: 200%;
}

.channel-status {
    position: absolute;
    right: 0.2rem;
    bottom: 0;
}

.channel-live {
    font-weight: bold;
    color: red;
}

.channel-live img {
    margin-left: 0.3rem;
    width: 1rem;
    height: 1rem;
    vertical-align: -10%;
}

.channel-notlive {
    color: #777;
    font-style: italic;
    font-size: 90%;
}

.player-box {
    width: 100%;
    height: calc(100vh - 56px);
    background-color: black;
    position: relative;
}

.player-thumb {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

.player-shade {
    font-size: 10vh;
    letter-spacing: 10vh;
    text-align: center;
    padding-top: 40vh;
}

.col {
    background: white;
}
